/* .bg-imgg{
    background:linear-gradient(#00000030 , #00000030), url("/public/images/image-3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 820px;
   
} */